{% extends 'base.html.twig' %}

{% block title %}Gestion des Allie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestion des Allie ✅</h1>

        {# Affiche les erreurs du formulaire s'il y en a #}
        {{ form_errors(form(AllieType::class)) }}

        {# Génère le formulaire de type AllieType #}
        {{ form_start(form(AllieType::class)) }}
        {{ form_widget(form(AllieType::class)) }}
        {{ form_end(form(AllieType::class)) }}
    </div>
{% endblock %}
