 {% extends 'base.html.twig' %}
 {% block title %}{{parent() }} | Bienvenue sur la création de personnage !{% endblock %}

{% block body %}
    <h1 class="text-center text-xxl-start">Bienvenue sur la création de personnage</h1>
 {% endblock %}